

<h1>Lista de Superhéroes</h1>

    
<% if (successMessage) { %>
        <div id="mensajeExito" style="background-color: #d4edda; color: #155724; padding: 10px; border-radius: 5px; margin-bottom: 20px;">
        ✅ <strong><%= successMessage %></strong>
        </div>
    <% } %>

    <table>
        <thead>
            <tr>
                <th>Nombre Superheroe</th>
                <th>Nombre Real</th>
                <th>Edad</th>
                <th>Planeta</th>
                <th>Debilidad</th>
                <th>Poderes</th>
                <th>Aliados</th>
                <th>Enemigos</th>
                <th>Creador</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <% superheroes.forEach(hero => { %>
                <tr>
                    <td><%= hero.nombreSuperHeroe %></td>
                     <td><%= hero.nombreReal %></td>
                    <td><%= hero.edad %></td>
                    <td><%= hero.planetaOrigen %></td>
                    <td><%= hero.debilidad %></td>
                    <td>
                        <ul>
                            <% hero.poderes.forEach(poder => { %>
                                <li><%= poder %></li>
                            <% }) %>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <% hero.aliados.forEach(aliado => { %>
                                <li><%= aliado %></li>
                            <% }) %>
                        </ul>
                    </td>
                    <td>
                        <ul>
                            <% hero.enemigos.forEach(enemigo => { %>
                                <li><%= enemigo %></li>
                            <% }) %>
                        </ul>
                    </td>
                    <td><%= hero.creador %></td>
                    
                       <td>
    <div class="acciones">
        <button onclick="window.location.href='/api/heroes/<%= hero._id %>/edit'"> Editar</button>
        <form action="/api/heroes/<%= hero._id %>?_method=DELETE" method="POST" onsubmit="return confirm('¿Estás seguro que querés eliminar este héroe?')">
            <button type="submit">Eliminar</button>
        </form>
    </div>
</td>
          </tr>
            <% }); %>
        </tbody>
    </table>
    <script>
  // Oculta el mensaje de éxito luego de 3 segundos
  const mensaje = document.getElementById('mensajeExito');
  if (mensaje) {
    setTimeout(() => {
      mensaje.style.display = 'none';
    }, 3000);
  }
</script>
